<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @book2.title %>
</p>

<p>
  <b>Description:</b>
  <%= @book2.description %>
</p>

<p>
  <b>Price:</b>
  <%= @book2.price %>
</p>


<%= link_to 'Edit', edit_book2_path(@book2) %> |
<%= link_to 'Back', book2s_path %>
